<!-- announcement_detail.html -->
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
{% include 'banner/banner.html' %}


<style>
    img {
      max-width: 700px;
    }

    body {
      background-image: url('https://t3.ftcdn.net/jpg/01/67/84/96/240_F_167849685_T2ZPvzMwneBl3zvt74by94gSM01hU2qn.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      color: white;
    }

    .post-link {
      color: white; /* Change to your desired text color */
      font-size: 20px;
      text-decoration: none; /* Remove underline */
      display: flex;
      justify-content: space-between;
    }

    .post-link img {
      max-width: 400px;
      height: 300px;
    }

    
</style>

{% if not user.is_authenticated %}
  <div class="text-center mt-4">
    <p>Looks like you haven't logged in yet. Why not do it now? Or if you are new, why not register?</p>
  </div>

{% else %}
<div class="announcement">
  <center>
    <h1>{{ announcement.title }}</h1>
    <p>{{ announcement.description }}</p>
    <img src="{{ announcement.picture.url }}" alt="{{ announcement.picture.url }}">
    <p>Created and Posted at: {{ announcement.date_created }}</p>
  </center>
</div>

<div class="text-center mt-4">
  <h4>Want to see more posts?</h4>
</div>

<div class="mt-4">
  <div class="row">
    {% for announcement in page_obj %}
      <div class="col-md-4">
        <p style="text-align: center;">{{ announcement.title }}</p>
        <a href="{% url 'announcement_detail' announcement.id %}" class="post-link">
          <img src="{{ announcement.picture.url }}" class="img-fluid rounded" alt="{{ announcement.picture.url }}">
        </a>
      </div>
    {% endfor %}
  </div>
</div>
{% endif %}
