<!-- announcement_detail.html -->
{% load static %}

{% include 'base/base.html' %}

<style>
    .announcement {
      {% comment %} display: flex; {% endcomment %}
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      padding: 10px;
    }
    img {
      max-width: 700px;
    }

    body {
      background-image: url('https://t3.ftcdn.net/jpg/01/67/84/96/240_F_167849685_T2ZPvzMwneBl3zvt74by94gSM01hU2qn.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      color: white;
    }
    
    /* Example: Change the color of headings */
    h2 {
      color: white;
    }
    
    /* Example: Change the color of paragraphs */
    p {
      color: white;
    }
</style>

<div class="announcement">
  <center>
    <h1>{{ announcement.title }}</h1>
    {% comment %} <p>{{ announcement.content }}</p> {% endcomment %}
    <p>{{ announcement.description }}</p>
    <img src="{{ announcement.picture.url }}" alt="{{ announcement.picture.url }}">
    <p>Created and Posted at: {{ announcement.date_created }}</p>
  </center>
</div>